<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sg.edu.smu.livelabs.citygangs">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <uses-library android:name="com.google.android.maps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- MAIN ACTIVITY -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".LogicService"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="sg.edu.smu.livelabs.citygangs.MainActivity" />
        </activity>
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".FaceAPI.ui.FaceRecogActivity"
            android:label="Face recognition"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">

            <!-- <meta-data -->
            <!-- android:name="android.support.PARENT_ACTIVITY" -->
            <!-- android:value="sg.edu.smu.livelabs.citygangs.MainActivity" /> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->
            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".FaceAPI.ui.DetectionActivity"
            android:label="@string/detection"
            android:launchMode="singleTop"
            android:parentActivityName=".FaceAPI.ui.FaceRecogActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.ui.FaceRecogActivity" />
        </activity>
        <activity
            android:name=".FaceAPI.ui.FaceVerificationActivity"
            android:label="@string/face_verification"
            android:launchMode="singleTop"
            android:parentActivityName=".FaceAPI.ui.VerificationMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.ui.FaceRecogActivity" />
        </activity>
        <activity
            android:name=".FaceAPI.ui.PersonVerificationActivity"
            android:label="@string/person_verification"
            android:launchMode="singleTop"
            android:parentActivityName="FaceAPI.ui.VerificationMenuActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.ui.FaceRecogActivity" />
        </activity>
        <activity
            android:name=".FaceAPI.ui.IdentificationActivity"
            android:label="@string/identification"
            android:launchMode="singleTop"
            android:parentActivityName=".FaceAPI.ui.FaceRecogActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.ui.FaceRecogActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".FaceAPI.ui.FindSimilarFaceActivity" -->
        <!-- android:label="@string/find_similar_faces" -->
        <!-- android:launchMode="singleTop" -->
        <!-- android:parentActivityName=".FaceAPI.ui.FaceRecogActivity" -->
        <!-- android:screenOrientation="portrait" > -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".FaceAPI.ui.FaceRecogActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".FaceAPI.ui.SelectImageActivity"
            android:label="@string/select_an_image"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FaceAPI.ui.VerificationMenuActivity"
            android:label="@string/verification"
            android:parentActivityName=".FaceAPI.ui.FaceRecogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FaceAPI.persongroupmanagement.PersonGroupListActivity"
            android:label="@string/person_group_list"
            android:launchMode="singleTop"
            android:parentActivityName=".FaceAPI.ui.IdentificationActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.ui.IdentificationActivity" />
        </activity>
        <activity
            android:name=".FaceAPI.persongroupmanagement.PersonGroupActivity"
            android:label="@string/person_group"
            android:launchMode="singleTop"
            android:parentActivityName=".FaceAPI.persongroupmanagement.PersonGroupListActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.persongroupmanagement.PersonGroupListActivity" />
        </activity>
        <activity
            android:name=".FaceAPI.persongroupmanagement.PersonActivity"
            android:label="@string/person"
            android:launchMode="singleTop"
            android:parentActivityName=".FaceAPI.persongroupmanagement.PersonGroupActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.persongroupmanagement.PersonGroupActivity" />
        </activity>
        <activity
            android:name=".FaceAPI.persongroupmanagement.AddFaceToPersonActivity"
            android:label="@string/add_face_to_person"
            android:parentActivityName=".FaceAPI.persongroupmanagement.PersonActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.persongroupmanagement.PersonActivity" />
        </activity>
        <activity
            android:name=".FaceAPI.log.DetectionLogActivity"
            android:label="@string/detection_log"
            android:parentActivityName=".FaceAPI.ui.DetectionActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.ui.DetectionActivity" />
        </activity>
        <activity
            android:name=".FaceAPI.log.VerificationLogActivity"
            android:label="@string/verification_log"
            android:parentActivityName=".FaceAPI.ui.FaceVerificationActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.ui.FaceVerificationActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".FaceAPI.log.FindSimilarFaceLogActivity" -->
        <!-- android:label="@string/find_similar_face_log" -->
        <!-- android:parentActivityName=".FaceAPI.ui.FindSimilarFaceActivity" -->
        <!-- android:screenOrientation="portrait" > -->
        <!-- <meta-data -->
        <!-- android:name="android.support.PARENT_ACTIVITY" -->
        <!-- android:value=".FaceAPI.ui.FindSimilarFaceActivity" /> -->
        <!-- </activity> -->
        <activity
            android:name=".FaceAPI.log.IdentificationLogActivity"
            android:label="@string/identification_log"
            android:parentActivityName=".FaceAPI.ui.IdentificationActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FaceAPI.ui.IdentificationActivity" />
        </activity>
        <activity android:name=".FaceAPI.ui.DefendTerritory" />
        <activity android:name=".PhotosActivity" />
        <activity android:name=".CreateNewUserActivity" />
        <activity android:name=".PreferencesActivity" />
        <activity
            android:name=".ServiceActivity"
            android:label="@string/title_activity_service"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <service android:name=".GPS_Worker"/>

    </application>

</manifest>